@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* body {
    @apply scrollbar-thumb-rounded-full scrollbar-track-rounded-full 
    scrollbar scrollbar-thumb-slate-700 scrollbar-track-slate-300 
    h-32 overflow-y-scroll;
  } */

  /* Global scrollbar styles */
  ::-webkit-scrollbar {
    width: 8px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #906969;
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #5f4f4f;
  }
}
